@model AzureDemo.Models.PageData

<p>
    @Html.ActionLink("Connect to User Table", "ConnectToUsersTable")
</p>
<p>
    @Html.ActionLink("Create Users", "CreateUsers")
</p>
<p>
    @Html.ActionLink("Read Users", "ReadUsers")
</p>
<p>
    @Html.ActionLink("Read User", "ReadUser")
</p>
<hr />
<p>
    @Html.ActionLink("List Tables", "ListTables")
</p>
<hr />
<p>
    @Html.ActionLink("Read Private Cert", "ReadPrivateCert");
</p>

<hr />
@Model.Results
